<%- layout("layouts/boilerplate") %>


<div class="row mt-">
    <h1 class="col-6 offset-3">Login For On Wanderlust</h1>
    <div class="col-6 offset-3">

        <form action="/login", method="post" novalidate class="needs-validation">

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required />
                <div class="invalid-feedback">Please Enter Username.</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required />
                <div class="invalid-feedback">Please Enter Password.</div>
            </div>
            <button type="submit" class="btn btn-outline-success mb-3 offset-5">Login</button>
        </form>
    </div>
</div>